body {
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar {
}

.profile {
  width: 10rem;
}

.portfolio-block.block-intro .avatar {
  border-radius: 0px;
}

.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar {
  height: auto;
}

* {
  font-family: 'Fira Mono', monospace;
}

..about-me.ul {
}

.about me {
}

.about-me ul {
  list-style: none;
  margin: 3rem 0 1rem 0;
  padding: 0;
}

.about-me ul li {
  display: inline-block;
  position: relative;
}

.about-me ul li a {
  color: black;
  margin: 0 1rem;
}

a {
  font-weight: 700;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
}

